In [1]:
import pandas as pd
from pathlib import Path

In [2]:
current_dir = Path().cwd()

data_file_ativo = current_dir.parent / 'data' / 'empresasativender.csv'
df_ativo = pd.read_csv(data_file_ativo, delimiter = ";")

data_file_inativo = current_dir.parent / 'data' / 'empresasinativender.csv'
df_inativo = pd.read_csv(data_file_inativo, delimiter = ";")

/tmp/ipykernel_26433/581604596.py:4: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ativo = pd.read_csv(data_file_ativo, delimiter = ";")
/tmp/ipykernel_26433/581604596.py:7: DtypeWarning: Columns (0,3,7,12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df_inativo = pd.read_csv(data_file_inativo, delimiter = ";")

In [3]:
COLUNAS_COM_PROBLEMA = [0, 3, 7, 12, 14]

for x in COLUNAS_COM_PROBLEMA:
    column_name = df_ativo.columns[x]
    print(f"Nome da coluna {x}: {column_name}")

Nome da coluna 0: cnpj
Nome da coluna 3: cod_logradouro
Nome da coluna 7: cod_bairro
Nome da coluna 12: cod_grupo
Nome da coluna 14: cnae

In [4]:
problem_col = df_ativo.columns[0]
    
df_ativo['value_type'] = df_ativo[problem_col].apply(type)
    
type_counts = df_ativo['value_type'].value_counts()
print(f"{problem_col} (ativo):")
print(type_counts.to_string())
print("\n")

for x in [0, 3, 7, 12, 14]:
    problem_col = df_inativo.columns[x]
    
    df_inativo['value_type'] = df_inativo[problem_col].apply(type)
    
    type_counts = df_inativo['value_type'].value_counts()
    print(f"{problem_col} (inativo):")
    print(type_counts.to_string())
    print("\n")

cnpj (ativo):
value_type
<class 'str'>    289275
<class 'int'>     65536


cnpj (inativo):
value_type
<class 'str'>    360448
<class 'int'>     22344


cod_logradouro (inativo):
value_type
<class 'int'>      350024
<class 'str'>       32765
<class 'float'>         3


cod_bairro (inativo):
value_type
<class 'int'>      350024
<class 'str'>       32765
<class 'float'>         3


cod_grupo (inativo):
value_type
<class 'int'>      350024
<class 'str'>       32765
<class 'float'>         3


cnae (inativo):
value_type
<class 'int'>      350024
<class 'str'>       32765
<class 'float'>         3

In [5]:
# Converte colunas em float com NaN pras strings invalidas
problem_col = df_ativo.columns[0]
df_ativo[problem_col] = pd.to_numeric(df_ativo[problem_col], errors='coerce').astype('Int64')

for x in [0, 3, 7, 12, 14]:
    problem_col = df_inativo.columns[x]
    df_inativo[problem_col] = pd.to_numeric(df_inativo[problem_col], errors='coerce').astype('Int64')

In [6]:
problem_col = df_ativo.columns[0]
    
df_ativo['value_type'] = df_ativo[problem_col].apply(type)
    
type_counts = df_ativo['value_type'].value_counts()
print(f"{problem_col} (ativo):")
print(type_counts.to_string())
print("\n")

for x in COLUNAS_COM_PROBLEMA:
    problem_col = df_inativo.columns[x]
    
    df_inativo['value_type'] = df_inativo[problem_col].apply(type)
    
    type_counts = df_inativo['value_type'].value_counts()
    print(f"{problem_col} (inativo):")
    print(type_counts.to_string())
    print("\n")

df_ativo.drop(columns="value_type", inplace = True)
df_inativo.drop(columns="value_type", inplace = True)

cnpj (ativo):
value_type
<class 'float'>    354811


cnpj (inativo):
value_type
<class 'float'>    382792


cod_logradouro (inativo):
value_type
<class 'float'>    382792


cod_bairro (inativo):
value_type
<class 'float'>    382792


cod_grupo (inativo):
value_type
<class 'float'>    382792


cnae (inativo):
value_type
<class 'float'>    382792

In [7]:
df_ativo.to_csv('empresasativender_tratado.csv', sep=';', index=False)
df_inativo.to_csv('empresasinativender_tratado.csv', sep=';', index=False)